:root{
    --primary-color: black;
    --secondary-color: white;
    --button-color: yellow;
}

.dark-theme {
    --primary-color: black;
    --secondary-color: white;
}
.light-theme {
    --primary-color: white;
    --secondary-color: black;
    --button-color: black;
}


* {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

html, body {
    height: 100%;

}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 2px solid var(--secondary-color);
    border-width: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: -2px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}

#lightDark {

    background-color: var(--button-color);
    height: 50px;
    width: 50px;
}


#section-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid var(--secondary-color);
    border-bottom: none;
    border-left: none;
    border-right: none; 
    height: 100%;

}

.my-first-blog {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border-right: 2px solid var(--secondary-color);
    border-bottom: none;
    border-left: none; 
    margin-right: 5px;
    font-size: 80px;
    text-align: center;
    
}

form {
    flex: 1;
    border-left: 2px solid var(--secondary-color);
    border-bottom: none;
    border-right: none;
    margin-left: 5px;
}

#form-title {
    text-align: center;
    font-size: 50px; 
}

.form-group {
    padding: 40px;
    font-size: 30px;
}
.form-group input {
        width: 100%;
        font-size: 30px; 
        border: 2px solid var(--secondary-color);
     }

.form-group label {
display: block;
}

.form-group textarea {
    width: 100%;
    border: 2px solid var(--secondary-color);
    height:100px; 
}
#submit-button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: 100%;
    height: 50px; 
    font-size: 30px;
}